<nav>
    <div class="content" id="company-logo">
        <img class="logo-img" src="/src/img/logo.png"/ >
    </div>
    <div class="action-wrapper">
        <div class="content" type="button" ng-click="$ctrl.logout()">יציאה</div>
        <div class="content" ng-bind="$ctrl.currentUser.name"></div>
        <!--<div class="content" ng-bind="$ctrl.currentUser.email"></div>-->
    </div>
</nav>
<div class ="res" id="sidebar-wrapper">
    <ul class="res2 sidebar-nav">
        <div class="profile-usermenu" ng-show="$ctrl.currentUser">
            <li>
                <span href="#" ng-click="$ctrl.go('profile')" ng-class="{active:$ctrl.current=='profile'}">
                        <i class="icon glyphicon glyphicon-home" >
                            
                        </i> 
                        
                       <div class="spa"> בית</div> </span>
            </li>
        </div>
        <li ng-show="!$ctrl.currentUser">
            <span href="#" aria-label="Login" ng-click="$ctrl.login()" ng-class="{active:$ctrl.current=='login'}">
                <i class="glyphicon glyphicon-home"></i>
                כניסה</span>
        </li>
        <div ng-show="$ctrl.currentUser.role._id == '57d27d4313d468481b1fe12e'">
            <li>
                <span  href="#" ng-click="$ctrl.go('role')" ng-class="{active:$ctrl.current=='role'}">
                    <i style="margin-left: 20px;" class="glyphalign glyphicon glyphicon-cog"></i>
                    <div class="spa">תפקידים</div></span>
            </li>
        </div>
        <div ng-show="$ctrl.currentUser.role._id == '57d2805f13d468481b1fe130' ||
                  $ctrl.currentUser.role._id == '57d27d4313d468481b1fe12e'">
            <li>
                <span href="#" ng-click="$ctrl.go('site')" ng-class="{active:$ctrl.current=='site'}">
                    <i class="icon glyphicon glyphicon-map-marker"></i>
                    
                    <div class="spa">אתרים</div></span>
            </li>
            <li>
                <span href="#" ng-click="$ctrl.go('user')" ng-class="{active:$ctrl.current=='user'}">
                    <i class="glyphicon glyphicon-user"></i>
                    <div class="spa">משתמשים</div>
                </span>
            </li>
        </div>
        

        <div ng-show="$ctrl.currentUser.role._id == '57d2805f13d468481b1fe130' ||
                                        $ctrl.currentUser.role._id == '57d27d4313d468481b1fe12e'">
            <li>
                <span href="#" ng-click="$ctrl.go('type')" ng-class="{active:$ctrl.current=='type'}">
                    <i class="glyphicon glyphicon-home"></i>
                    <div class="spa">
                        משאבים
                    </div>
                </span>
            </li>
        </div>

    </ul>
</div>
