<div class="col-xs-12">
    <div class="card">
        <h2>הוספת תפקיד</h2>
        <form class="form-inline bottom-gap" name="roleForm" ng-submit="$ctrl.addRole(roleForm.$valid)" novalidate>
            <input type="text" placeholder="שם" class="form-control" name="name" id="name" ng-model="$ctrl.role.name" required />
            <button type="submit" class="btn btn-primary" data-style="zoom-out" ladda="$ctrl.addingRole">הוספה</button>
        </form>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <!--<th>#</th>-->
                        <th>שם</th>
                        <th>מזהה</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in $ctrl.roles">
                        <!--<th scope="row" ng-bind="$index+1"></th>-->
                        <td><input type="text" ng-disabled="!$ctrl.editDisabled[role._id]" ng-model="role.name"></td>
                        <td ng-bind="role._id"></td>
                        <td ng-click="$ctrl.editDisabled[role._id] = !$ctrl.editDisabled[role._id]"><i class="glyphicon glyphicon-pencil"></i></td>
                        <td ng-click="$ctrl.updateRole(role)"><i class="glyphicon glyphicon-floppy-disk"></td>
                    <td ng-click="$ctrl.deleteRole(role._id)"><i class="glyphicon glyphicon-trash"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>