<div class="col-md-6 col-xs-12">
    <div class="card">
        <h2>הוספת אתר</h2>
        <form class="form-inline" name="siteForm" ng-submit="$ctrl.addSite(siteForm.$valid)" novalidate>
            <input type="text" placeholder="שם" class="form-control" name="name" id="name" ng-model="$ctrl.site.name" required />
            <button type="submit" class="btn btn-primary">הוספה</button>
        </form>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="card">
        <h2>הוספת משתמש לאתר</h2>
        <form class="form-inline" name="userSiteForm" ng-submit="$ctrl.addUserToSite(siteForm.$valid)" novalidate>
            <div class="form-group">
                <label class="sr-only" for="site">site:</label>
                <select class="form-control" name="site" id="site" ng-model="$ctrl.selectedSite" ng-options="site as site.name for site in $ctrl.userSites"></select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="user">user:</label>
                <select class="form-control" name="user" id="user" ng-model="$ctrl.selectedUser" ng-options="user as user.name for user in $ctrl.users"></select>
            </div>
            <button type="submit" class="btn btn-primary">הוספה</button>
        </form>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="card">
        <!--h2><span>אתרים</span></h2-->
        <div class="content table-responsive table-full-width">
        <table class="table table-striped table-inverse">
            <thead>
                <tr>
                    <!--<th>#</th>-->
                    <th colspan="6" class="sitestheader">אתרים</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 18px;" ng-repeat="site in $ctrl.userSites">
                    <!--<td scope="row" ng-bind="$index+1"></td>-->
                    <td><input type="text" ng-disabled="!$ctrl.editDisabled[site._id]" ng-model="site.name"/></td>
                    <td ng-click="$ctrl.getSiteUsers(site._id); $ctrl.selectedSite = site">
                        <i class="glyphicon glyphicon-user"></i>
                    </td>
                    <td ng-click="$ctrl.editDisabled[site._id] = !$ctrl.editDisabled[site._id]"><i class="glyphicon glyphicon-pencil"></i></td>
                    <!--<td ng-click="$ctrl.updateSite(site)"><i class="glyphicon glyphicon-floppy-disk"></td>-->
                    <td ng-click="$ctrl.deleteSite(site._id)"><i class="glyphicon glyphicon-trash"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
</div>
<div ng-show="$ctrl.selectedSite">
    <div class="col-md-6 col-xs-12">
        <div class="card">
    
        <table class="table table-striped table-inverse">
            <thead>
                <tr >
                    <th colspan="2"><h2 style="font-size: 40px; font-weight: bold; text-align: center; color: white; padding-top: 5px;">מורשי אתר <span ng-bind="$ctrl.selectedSite.name"></span></h2></th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 18px;" ng-repeat="user in $ctrl.siteUsers" >
                    <td ng-bind="user.name">
                    </td>
                    <td ng-click="$ctrl.removeUserFromSite(user._id, $ctrl.selectedSite._id)">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </td>
                </tr>
            </tbody>
    </div>
</div>
</div>