<div class="col-md-8 col-xs-12">
    <div class="card .date-card">
        <h4>תאריך</h4>
        <div class="col-md-4 col-xs-12">
            <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.date"
                is-open="$ctrl.popupsOpen.addDate"
                ng-change="$ctrl.getMonthlyWorkers()" datepicker-options="$ctrl.selectedDateOptions" ng-click="$ctrl.openDate('addDate')"
                close-text="Close" data-datepicker-popup={{$ctrl.format}} />
            <span class="input-group-btn"></span>
        </div>
    </div>
</div>
<div class="col-md-8 col-xs-12 worker-monthly" id="worker-monthly">
    <h2>פועלים</h2>

    <div class="card" ng-repeat="(key, dayObject) in $ctrl.workerGrouped" id="worker_{{key}}">
        <div    class="card-header row" 
                ng-click="$ctrl.showSection[key] = !$ctrl.showSection[key]">
            <span class="lead-button">
                <i  class="glyphicon glyphicon glyphicon-plus"
                ng-show="!$ctrl.showSection[key]"></i>
                <i  class="glyphicon glyphicon glyphicon-minus"
                ng-show="$ctrl.showSection[key]"></i>
            </span>
            <span class="title" ng-bind="$ctrl.getWorkerName(key)"></span>
        </div>
        <div class="card-content" ng-show="$ctrl.showSection[key]">
            <div class="worker-table-header">
                <span>תאריך</span>
                <span id="cell-large">אתר</span>
                <span class="hidden-xs">התחלה</span>
                <span class="hidden-xs">סיום</span>
                <span>שעות</span>
                <span class="hidden-xs">שכר שעתי</span>
                <span class="hidden-xs">נסיעות</span>
                <span>לתשלום</span>
            </div>
            <div ng-repeat="dailySite in dayObject" class="worker-table-line">
                    <span ng-bind="dailySite.date | date:'dd/MM'"></span>
                    <span id="cell-large" ng-bind="dailySite.site.name"></span>
                    <span class="hidden-xs" ng-bind="dailySite.startTime | date:'HH:mm'"></span>
                    <span class="hidden-xs" ng-bind="dailySite.endTime | date:'HH:mm'"></span>
                    <span ng-bind="$ctrl.floatDown(dailySite.hours,1)"></span>
                    <span class="hidden-xs" ng-bind="$ctrl.formatShekels(dailySite.hourlyRate)"></span>
                    <span class="hidden-xs" ng-bind="$ctrl.formatShekels(dailySite.commute)"></span>
                    <span ng-init="total = total + $ctrl.floatDown(($ctrl.floatDown(dailySite.hours,1)*dailySite.hourlyRate) + dailySite.commute)"
                                    ng-bind="$ctrl.formatShekels($ctrl.floatDown(($ctrl.floatDown(dailySite.hours,1)*dailySite.hourlyRate) + dailySite.commute))"></span>
            </div>
            <div class="worker-table-header top-gap">
                <span id="cell-large">אתר</span>
                <span>אחוז באתר</span>
                <span>ימים</span>
                <span>שעות</span>
                <span>נסיעות</span>
                <span id="cell-large">סה"כ לפי שעות</span>
                <span id="cell-large">סה"כ כולל נסיעות</span>
            </div>
            <div  class="worker-table-line" ng-repeat="objectw in $ctrl.workersSiteSummary[key].sites">
                <span id="cell-large" ng-bind="objectw.name"></span>
                <span ng-bind="objectw.percent"></span>
                <span ng-bind="objectw.days"></span>
                <span ng-bind="objectw.hours"></span>
                <span ng-bind="$ctrl.formatShekels(objectw.commute)"></span>
                <span id="cell-large" ng-bind="$ctrl.formatShekels(objectw.totalNoCommute)"></span>
                <span id="cell-large" ng-bind="$ctrl.formatShekels(objectw.total)"></span>
            </div>
            <div  class="worker-table-line" >
                <span id="cell-large">סך הכל:</span>
                <span></span>
                <span ng-bind="$ctrl.workersSiteSummary[key].totalDays"></span>
                <span ng-bind="$ctrl.workersSiteSummary[key].totalHours"></span>
                <span ng-bind="$ctrl.formatShekels($ctrl.workersSiteSummary[key].totalCommute)"></span>
                <span id="cell-large" ng-bind="$ctrl.formatShekels($ctrl.workersSiteSummary[key].totalNoCommute)"></span>
                <span id="cell-large" ng-bind="$ctrl.formatShekels($ctrl.workersSiteSummary[key].total)"></span>
            </div>
            <span class="print-button btn">
                <i class="glyphicon glyphicon-print" ng-click="$ctrl.printData('worker_'+key)"></i>    
            </span>
        </div> 
    </div>
</div>
<div class="col-md-8 col-xs-12 worker-monthly">
    <h2>אתרים</h2>
    <div class="card" ng-repeat="(site,siteObject) in $ctrl.sites">
        <div   class="card-header row" 
                ng-click="$ctrl.siteSection[site] = !$ctrl.siteSection[site]">
                <span class="lead-button">
                    <i  class="glyphicon glyphicon glyphicon-plus"
                        ng-show="!$ctrl.siteSection[site]"></i>
                    <i  class="glyphicon glyphicon glyphicon-minus"
                        ng-show="$ctrl.siteSection[site]"></i>
                </span>
                <span class="title" ng-bind="siteObject.name"></span>
                <span class="amount" ng-bind="' סך הכל: ' + $ctrl.formatShekels(siteObject.monthlyTotal)"></span>
                <span class="trail-button">
                    <i  class="glyphicon glyphicon glyphicon-envelope"
                    ng-show="currentSite.comments.length>0"></i>    
                </span>     
        </div>
        <div class="card-content" ng-show="$ctrl.siteSection[site]">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="theader">
                            <th>אתר</th>
                            <th>ימים</th>
                            <th>סך הכל</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="worker in siteObject.workers">
                            <td ng-bind="worker.name"></td>
                            <td ng-bind="worker.days"></td>
                            <td ng-bind="$ctrl.formatShekels(worker.amount)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>