<div class="col-md-8 col-xs-12">
    <div class="card .date-card">
        <h4>תאריך</h4>
        <div class="col-md-4 col-xs-12">
            <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.date"
                is-open="$ctrl.popupsOpen.addDate"
                ng-change="$ctrl.getMonthlyWorkers()" datepicker-options="$ctrl.selectedDateOptions" ng-click="$ctrl.openDate('addDate')"
                close-text="Close" data-datepicker-popup={{$ctrl.format}} />
            <span class="input-group-btn"></span>
        </div>
    </div>
</div>
<div class="col-md-8 col-xs-12 worker-monthly">
    <h2>פועלים</h2>
    <div class="card" ng-repeat="(key, dayObject) in $ctrl.monthlyWorkers">
        <div    class="card-header row" 
                ng-click="$ctrl.showSection[key] = !$ctrl.showSection[key]">
            <span class="lead-button">
                <i  class="glyphicon glyphicon glyphicon-plus"
                ng-show="!$ctrl.showSection[key]"></i>
                <i  class="glyphicon glyphicon glyphicon-minus"
                ng-show="$ctrl.showSection[key]"></i>
            </span>
            <span class="title" ng-bind="$ctrl.getWorkerName(key)"></span>
        </div>
        <div class="card-content" ng-show="$ctrl.showSection[key]">
            <div class="worker-table-header">
                <span>תאריך</span>
                <span>אתר</span>
                <span>התחלה</span>
                <span>סיום</span>
                <span>שעות</span>
                <span>שכר שעתי</span>
                <span>נסיעות</span>
                <span>לתשלום</span>
            </div>
            <div ng-repeat="dailySite in dayObject">
                <div ng-repeat="day in dailySite" class="worker-table-line">
                    <span ng-bind="day.date | date:'dd/MM'"></span>
                    <span ng-bind="day.site.name"></span>
                    <span ng-bind="day.startTime | date:'HH:mm'"></span>
                    <span ng-bind="day.endTime | date:'HH:mm'"></span>
                    <span ng-bind="$ctrl.floatDown(day.hours,1)"></span>
                    <span ng-bind="day.hourlyRate"></span>
                    <span ng-bind="day.commute"></span>
                    <span ng-init="items.total = items.total + $ctrl.floatDown(($ctrl.floatDown(day.hours,1)*day.hourlyRate) + day.commute)"
                                    ng-bind="$ctrl.floatDown(($ctrl.floatDown(day.hours,1)*day.hourlyRate) + day.commute)"></span>
                </div>
            </div> 
        </div> 
    <!--     <div class="card-content" ng-show="$ctrl.showSection[key]">
            <div class="table-responsive"  ng-init="items.total = 0">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="theader">
                            <th>תאריך</th>
                            <th>התחלה</th>
                            <th>סיום</th>
                            <th>שעות</th>
                            <th>שכר שעתי</th>
                            <th>נסיעות</th>
                            <th>לתשלום</th>
                        </tr>
                    </thead>
                    <tbody>
                        <span ng-repeat="dailySite in dayObject">
                            <tr ng-repeat="day in dailySite">
                                <td ng-bind="day.date | date:'dd/MM'"></td>
                                <td ng-bind="day.startTime | date:'HH:mm'"></td>
                                <td ng-bind="day.endTime | date:'HH:mm'"></td>
                                <td ng-bind="$ctrl.floatDown(day.hours,1)"></td>
                                <td ng-bind="day.hourlyRate"></td>
                                <td ng-bind="day.commute"></td>
                                <td ng-init="items.total = items.total + $ctrl.floatDown(($ctrl.floatDown(day.hours,1)*day.hourlyRate) + day.commute)"
                                    ng-bind="$ctrl.floatDown(($ctrl.floatDown(day.hours,1)*day.hourlyRate) + day.commute)"></td>

                            </tr>
                        </span>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ng-bind="items.total"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</div>
<div class="col-md-8 col-xs-12 worker-monthly">
    <h2>אתרים</h2>
    <div class="card" ng-repeat="(site,siteObject) in $ctrl.sites">
        <div   class="card-header row" 
                ng-click="$ctrl.siteSection[site] = !$ctrl.siteSection[site]">
                <span class="lead-button">
                    <i  class="glyphicon glyphicon glyphicon-plus"
                        ng-show="!$ctrl.siteSection[site]"></i>
                    <i  class="glyphicon glyphicon glyphicon-minus"
                        ng-show="$ctrl.siteSection[site]"></i>
                </span>
                <span class="title" ng-bind="siteObject.name"></span>
                <span class="amount" ng-bind="' סך הכל: ' + siteObject.monthlyTotal"></span>
                <span class="trail-button">
                    <i  class="glyphicon glyphicon glyphicon-envelope"
                    ng-show="currentSite.comments.length>0"></i>    
                </span>     
        </div>
        <div class="card-content" ng-show="$ctrl.siteSection[site]">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="theader">
                            <th>אתר</th>
                            <th>ימים</th>
                            <th>סך הכל</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="worker in siteObject.workers">
                            <td ng-bind="worker.name"></td>
                            <td ng-bind="worker.days"></td>
                            <td ng-bind="worker.amount"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>