<div class="col-xs-12">
    <form class="form-inline" name="userForm" ng-submit="$ctrl.login(userForm.$valid)" novalidate>
            <label class="sr-only" for="email">דואר אלקטרוני</label>
            <input type="text" placeholder="email" class="form-control" name="email" id="email" ng-model="$ctrl.user.email" required
            />
            <label class="sr-only" for="password">סיסמה</label>
            <input type="password" placeholder="password" class="form-control" name="password" id="password" ng-model="$ctrl.user.password" required
            />
        <button type="submit" class="btn btn-primary ladda-button" ladda="$ctrl.loading" data-style="expand-left">
            <span class="ladda-label">Submit</span>
            <span class="ladda-spinner"></span>
        </button>
    </form>
</div>