<h2>Resources</h2>
<div class="col-xs-12">
    <form class="form-inline" name="resourceForm" ng-submit="$ctrl.addResource(resourceForm.$valid)" novalidate>
        <div class="form-group">
            <label class="sr-only" or="id">id:</label>
            <input type="text" class="form-control" placeholder="Id" name="id" id="id" ng-model="$ctrl.resource.id" required />
        </div>
        <div class="form-group">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" placeholder="Name" class="form-control" name="name" id="name" ng-model="$ctrl.resource.name" required
            />
        </div>
         <div class="form-group">
            <label class="sr-only" for="type">Type:</label>
            <select class="form-control" name="type" id="type" ng-model="$ctrl.resource.type._id" ng-options="type._id as type.name for type in $ctrl.types"></select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="col-xs-12">
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Id</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resource in $ctrl.resources">
                <th scope="row" ng-bind="$index+1"></th>
                <td ><input type="text" 
                            ng-disabled="!$ctrl.editDisabled[resource._id]"
                            ng-model="resource.name"></td>
                <td ng-bind="resource._id"></td>
                <td>
                    <select class="form-control" name="type" id="type" 
                            ng-disabled="!$ctrl.editDisabled[resource._id]"
                            ng-model="resource.type._id" 
                            ng-options="type._id as type.name for type in $ctrl.types"></select>
                </td>
                <td ng-click="$ctrl.editDisabled[resource._id] = !$ctrl.editDisabled[resource._id]"><i class="glyphicon glyphicon-pencil"></i></td>
                <td ng-click="$ctrl.updateResource(resource)"><i class="glyphicon glyphicon-floppy-disk"></td>
                <td ng-click="$ctrl.deleteResource(resource._id)"><i class="glyphicon glyphicon-trash"></td>
            </tr>
        </tbody>
    </table>
</div>