$bold-font: 600;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// $fa-font-path: '~font-awesome/fonts/';
// @import '~font-awesome/scss/font-awesome.scss';

html {
  font-size: 16px;
}
button[disabled], html input[disabled] {
    background: transparent;
    border-color: transparent;
}
table .form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background: transparent;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: inherit;
}
.horizontal-table{
    background: #E1E1E1;
    padding: 20px;
}
#dailyDefault{
    width:70%;
    float:right;
    margin-left:4px;
}
@media (min-width: 768px){
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 15px;
        vertical-align: middle;
    }
}