$bold-font: 600;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import "../js/components/loader/loader";
// $fa-font-path: '~font-awesome/fonts/';
// @import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: OpenSansHebrew;
    src: url(../fonts/OpenSansHebrew-Regular.ttf);
}

@font-face {
    font-family: OpenSansHebrewBold;
    src: url(../fonts/OpenSansHebrew-Bold.ttf);
}

@font-face {
    font-family: OpenSansHebrewLight;
    src: url(../fonts/OpenSansHebrew-Light.ttf);
}

html {
	
	font-size: 16px;
	direction:rtl;
    background: rgba(203, 203, 210, 0.15);
    font-weight:500;
    color:black;
    direction:rtl;
    overflow-y: scroll;
}
body{
    font-family: OpenSansHebrew;
    background-color: #e9ebee;
    min-height:800px
}
input, html input[disabled] {
    font-weight:600;
    color:black;
    background: transparent;
}
select{
    // border: 1px solid #4e8bed!important;

    -webkit-appearance: menulist;
}
.table .form-control[disabled]{
    background-color: transparent;
}
.table .form-control{
    background-color: #eeeeee;    
}

// button[disabled], html input[disabled] {
//     background: transparent;
//     border-color: transparent;
// }
// table .form-control[disabled], fieldset[disabled] .form-control {
//     cursor: not-allowed;
//     background: transparent;
//     border-color: transparent;
//     outline-color: transparent;
//     box-shadow: none;
// }
// .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
//     vertical-align: inherit;
// }
// .horizontal-table{
//     background: #E1E1E1;
//     padding: 20px;
// }
// #dailyDefault{
//     width:70%;
//     margin-left:4px;
//     display: inline-block;
// }
// .top-buffer { 
//     margin-top:20px; 
// }
// @media (min-width: 768px){
//     .form-inline .form-group {
//         display: inline-block;
//         margin-bottom: 15px;
//         vertical-align: middle;
//     }
// }
// .card button{
//     width:49%;
//     margin-right:1%;
// }
.card {
    .form-inline{
        div{
            display: inline-block;    
        }
        background: #C7DAFA;
        padding: 10px;
        display: inline-block;
    }
    .card-content{
        padding:10px;
    }
    .row{
        margin:0px;
        padding: 10px;
    }
    h4 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 20px;
        border-bottom: 1px solid #A988B1;
    }
    h2{
        padding-top:0px;
        margin-top:0px;
        font-size:22px;
    }
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 1px;
    float: left;
    width: 100%;
}
.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.horizontal-table, .worker-monthly{
    .card{
        padding:0px;
    }
}












.bottom-gap{
        margin-bottom: 10px;
}

#wrapper {
   background: #F5F5F5;
        // font-family: OpenSansHebrewBold;
    color: #59554e;
}

thead tr{
    color: white;
}

.sitestheader {
    font-size: 40px;
    text-align: center;
    color: white;
    border-radius: 10px;

                   
               

}

table .input-group input, table input,table .form-control {
    border:none;
}
.input-group input, input, .form-control {
    border-radius: 0px;
    background: #F8F8F8;
    // border: 1px solid #4e8bed;
    border-radius: 4%;

}

.shadow {
    box-shadow: 1px 1px 1px black;
}

.btn:active {
   background: #e8f0fd;
}

.btn:hover {
        color: #B396CE;
    background: #ffffff;
    border-color: #ffffff;
}

.btn {
    background: #AEB4D8;
    border-radius: 3px;
    border: 1px solid #AEB4D8;
    padding:10px;
        background:#AEB4D8;
    font-weight: 600;
    // border-radius: 10px;
        border-radius: 4% !important;
    box-shadow: 1px 1px 3px 1px grey !important;
}
.horizontal-table{
        .button-holder{
        color: #fff;
        background: red;
        padding: 4px;
        background: #685582;
        font-weight: 600;
    }
} 
.container {
    margin-top: -31px;
}

table tr {
   // border-radius: 10px;
}

table th{
 text-align:right;   
}
.table{
    // margin-top:20px;
    //border: 2px solid #e2e2e2;
    border-radius: 4px;
    background: #C7DAFA;
    box-shadow: 1px 1px 1px 3 black;
}
tr{
    border:none;
}
thead{
    border:none;
}
// button .glyphicon {
//     color: white;
// }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0px;
    padding: 7px 11px;
}
.form-inline {
    .btn{
        margin-right: 5px;
    }
    .amount-field{
        width:60px;
    }
}
.horizontal-table  div > .cell, .horizontal-table  input{
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-left:10px;
}

.comment-wrapper{
    border-top: 1px solid lightgray;
    display: block;
    width: 100%;
    margin-top: 10px;
    float: right;
    padding-top: 15px;
    .form-group{
        width:100%;
    }

    table{
        //background-color: #4f6fad;
               // background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
             
        tbody{
                //background-color: #f5f5f5;
        }
    }
    form{
        width:50%;
        margin-bottom: 15px;
        textarea{
        }
        .divider {
            margin: 0.5em 0 0.5em 0;
            border: 0;
            height: 1px;
            width: 100%;
            display: block;
            background-color: #4f6fad;
            background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
        }
    }
}

/*.bgcolor {
   //background: #4e8bed;
   font-size: 30px; 
   //color: white;
   font-weight: bold;
}*/

.iconmargin {
    margin-top: 10px;
}

.commentsfont {
    font-size: 20px;
}

@media (max-width:  488px) {
    .card{
        h2{
            font-size:20px;
        }
    }
    .comment-wrapper{
        form{
            width: 100%;
            margin-bottom: 15px;
            background: #b0b0b0;
            padding: 10px;
            .divider{
                display:none;
            }
            textarea{
                background:#ffffff;
            }
        }
        .table-tableponsive > .table > thead > tr > th,
        .table-responsive > .table > thead > tr > td,
        .table-responsive > .table > tbody > tr > th,
        .table-responsive > .table > tbody > tr > td,
        .table-responsive > .table > tfoot > tr > th,
        .table-responsive > .table > tfoot > tr > td{
            white-space: normal;


        }
    }
}
.card-header{
    .lead-button{
        float:right;
    }
    .title{
        margin-right: 10px;
        float:right;
    }
    .amount{
        float:left;
        width:85px;
        text-align: left;
    }
    .trail-button{
        float:left;
        margin-left:10px
    }
    // border-bottom: 1px solid #A988B1;
}
@media (min-width: 768px){
    .card-header{
        .title{
            width:350px;
    }
        .amount{
            float:right;
            width:85px;
            text-align: right;
        }
        .trail-button{
            float:right;
            margin-right:10px
        }
    }
}


.pull-left{
    float:left;
}
.comment-wrapper .filter-panel-searchbox{
    margin-top: 15px;
}
tfoot {
    width: 100%;
    height: 20px;
    background: grey;
}

.horizontal-table > div > .sum-row{
    display: block;
    width:100%;
    margin-top: 10px;
    float:right;
    font-size: 16px;
    font-weight: 600;
    span{
        display: inline-block;
        float: right;
        margin-left: 10px;
    }
}

.horizontal-table .button-holder > div{
     display: inline-block;
        padding: 5px 5px;
        
}
.horizontal-table .header{
    border-bottom: 1px solid #685582;
    margin-top: 10px;
}
.horizontal-table .body  input[disabled] {
    background:white;
    color:#000000;
    border-color: transparent;
}
.horizontal-table .body  input {
    background: #D6BBDF;
    padding: 5px;
    font-weight:600;
}
.inverse {
  background: #fff;
  color: #59554e;
}
.comment-wrapper h3{

}
.horizontal-table h3{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #A988B1;
}


#login-form{
    button {
        position: absolute;
        left: -7px;
        top: 40%;
        background: #ffffff;
        color: #999999;
        padding: 11px 0;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        border: 5px solid #efefef;
        border-radius: 50%;
        transition: all ease-in-out 500ms;
        .glyphicon, .fa{
            color: #F0F0F2;
        }
    }
    .form-group {
        width:initial;
        float:none;
        margin-bottom: 0;
        border-bottom: 2px solid #efefef;
        padding-right: 20px;
        position: relative;
        .form-control {
            width:initial;
            float:none;
            border: 0;
            box-shadow: 0 0 0;
            border-radius: 0;
            background: transparent;
            color: #555555;
            padding: 7px 0;
            font-weight: bold;
            height: auto;
        }
    }
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
table{
        
        color: black;
                //background-image: linear-gradient(to right, silver, red);

        tbody{
                background-color: #e5e5e5;


        }
    }
    .table-responsive .table {
    max-width: none;

}
.date-card{
    .uib-datepicker{
        direction:ltr!important;
    }
}
.nav-collapse { 
    -webkit-transform: none !important; 
    z-index: 1 !important; 
}
.uib-timepicker{
     .form-control{
        width:50px !important;
    }
    direction:ltr;
        tbody{
            background-color: transparent;
    }
    .btn{
        background-color: transparent;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        font-weight: 400;
        color: #337ab7;
        box-shadow: none!important;
    }
}
.uib-datepicker-popup{
    left: inherit!important;
    right: 0px;
    direction:ltr;
    .btn-success, .btn-danger{
        color:rgb(51, 51, 51);
    }
    .btn{
        box-shadow: none!important;
        padding: 5px 25px;
        border-right: 1px solid #cccccc;
        background: #f6f6f6;
        border: 1px solid #cccccc;
        font-family: "Louis Vuitton";
        font-size: 12px;
        padding: 5px 15px;
        font-family: openSansHebrewLight;
    }
    .btn:focus, li:focus{
        outline-color: transparent;
    }
    .btn:hover{
        background: #f6f6f6;
    }

}
.btn-info.active{
    color:#8B9BD6;
}

@media (max-width:  488px) {
    .form-group {
        input{
            width:100%;
        }
        width: 49%;
        margin-left: 1%;
        float: left;
    }
    .form-inline input{
            /*width: 50%;*/
            float: right;
    }
    .form-inline .form-group input{
            width: 100%;
    }
    .uib-timepicker{
        .form-group{
            width: inherit;
            float: inherit;
            margin-left: inherit;
        }
        .form-control{
            width: 100%!important;
        }
    }
    // .btn {
    //     width: 100%;
    //     margin-top: 15px;
    // }
    .form-inline .amount-field {
       width: 100%;
    }
}
.form-inline2{
        background: #C7DAFA;
        padding:0px 10px;
    div, select, input, .form-control{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        width:105px;
    }
    .time-control{
        // border: 1px solid #ffffff;
        padding: 5px;
        margin: 5px 0px;
        width:115px;
    }
}
.worker-table-line, .worker-table-header{
    span{
        display: inline-block;
        min-width: 80px;
        padding: 8px;
        line-height: 1.42857;
    }
    border-top: 1px solid #ddd;
}
.worker-table-header{
    background: #C7DAFA;
    color: #ffffff;
    padding:8px;
}
.worker-table-line{
}

.form-inline2 .hour-wrapper{
        display: inline;
}
.form-inline2 .field-wrapper{
    width:115px;
    button{
        margin-top:25px;
    }
    .time-control{
        margin-top:30px;
    }
}
@media (max-width: 768px){
    button{
        margin: 10px 0px;
        width: 100%;
    }
    .form-inline2{
        .form-control{
            width: 100%;
            border-radius: 5px;
        }
        label{
            width:100px;
        }
        > div{
            margin: 0px 0px 18px;
            padding: 2px 4px;
        }
    }
    .form-inline2 .field-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .add-worker{
        margin: 10px 0px;
        width: 100%;
    }
    .form-inline2 .time-picker-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        width:100%;
        label{
            display:none;
        }
        .hour-input{
            width:45px;
        }
    }
    .form-inline2 .hour-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        width:100%;
        .time-control{
            margin-top:0px;
        }
    }
}

