#wrapper{padding-right:0;}
#wrapper.toggled{
    padding-right:250px;
}
#sidebar-wrapper{right:250px;margin-right:-250px;}
#wrapper.toggled #page-content-wrapper{margin-left:-250px;}
.profile-userbuttons .btn{margin-left:5px;}
.profile-userbuttons .btn:last-child{margin-left:0px;}
@media(min-width:768px) {
    #wrapper{padding-right:250px;}
    #wrapper.toggled{padding-right:0;}
    #wrapper.toggled #page-content-wrapper{margin-left:0;}
}
@media (min-width: 768px){}
    #wrapper {
    padding-left: 0px;
}
.horizontal-table > div, .horizontal-table input{
    float: right;
    }
    .sidebar-nav li a, .sidebar-nav li div {
    padding: 0px 30px;
}