<h2>משאבים</h2>
<div class="col-xs-12">
    <form class="form-inline" name="typeForm" ng-submit="$ctrl.addType(typeForm.$valid)" novalidate>
        <div class="form-group">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" placeholder="שם" class="form-control" name="name" id="name" ng-model="$ctrl.type.name" required />
        </div>
        <!--<div class="form-group">
            <label class="sr-only" for="value">Value:</label>
            <input type="text" placeholder="value" class="form-control" name="value" id="value" ng-model="$ctrl.type.value" required />
        </div>-->
        <button type="submit" class="btn btn-primary" data-style="zoom-out" ladda="$ctrl.addingType">הוספה</button>
    </form>
</div>
<div class="col-xs-6">
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>שם</th>
                <!--<th>Value</th>-->
                <!--<th>מזהה</th>-->
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="type in $ctrl.types">
                <th scope="row" ng-bind="$index+1"></th>
                <td ><input type="text" 
                            ng-disabled="!$ctrl.editDisabled[type._id]"
                            ng-model="type.name"></td>
                <!--<td ><input type="text" 
                            ng-disabled="!$ctrl.editDisabled[type._id]"
                            ng-model="type.value"></td>-->
                <!--<td ng-bind="type._id"></td>-->
                <td ng-click="$ctrl.editDisabled[type._id] = !$ctrl.editDisabled[type._id]"><i class="glyphicon glyphicon-pencil"></i></td>
                <td ng-click="$ctrl.updateType(type)"><i class="glyphicon glyphicon-floppy-disk"></td>
                <td ng-click="$ctrl.deleteType(type._id)"><i class="glyphicon glyphicon-trash"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <form name="dailyDefaultForm" ng-submit="$ctrl.addDailyDefault(dailyDefaultForm.$valid)">
        <div class="form-group">
            <label class="sr-only" for="dailyDefault">user:</label>
            <select class="form-control" name="dailyDefault" id="dailyDefault"
                                        ng-model="$ctrl.selectedType"
                                        ng-options="type as type.name for type in $ctrl.types"></select>
        </div>
        <button type="submit" class="btn btn-primary" data-style="zoom-out">הוספה</button>        
    </form>
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>שם</th>
                <!--<th>Value</th>-->
                <!--<th>מזהה</th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="type in $ctrl.dailyDefaults">
                <th scope="row" ng-bind="$index+1"></th>
                <td ><input type="text" 
                            ng-disabled="!$ctrl.editDisabled[type._id]"
                            ng-model="type.name"></td>
                <!--<td ><input type="text" 
                            ng-disabled="!$ctrl.editDisabled[type._id]"
                            ng-model="type.value"></td>-->
                <!--<td ng-bind="type._id"></td>-->
                <td ng-click="$ctrl.deleteDailyDefault(type._id)"><i class="glyphicon glyphicon-remove-circle"></td>
            </tr>
        </tbody>
    </table>
</div>