<div class="col-xs-12" ng-show="$ctrl.currentUser.role._id == '57d2805f13d468481b1fe130'
                                || $ctrl.currentUser.role._id == '57d2837a13d468481b1fe133'">
    <div class="card">
        <h2>משאבי אתר</h2>
        <form class="form-inline" name="resourceForm" ng-submit="$ctrl.addDailyResource(resourceForm.$valid)" novalidate>
            <div class="form-group col-xs-3-">
                <label class="sr-only" for="site">site:</label>
                <select class="form-control" name="site" id="site" ng-model="$ctrl.dailyResource.site" ng-change="$ctrl.getAllDailyResources()"
                    ng-options="site as site.name for site in $ctrl.sites"></select>
            </div>
            <div class="form-group col-xs-3-">
                <label class="sr-only" for="site">site:</label>
                <select class="form-control" name="site" id="site" ng-model="$ctrl.dailyResource.resourceType" ng-options="resourceType as resourceType.name for resourceType in $ctrl.resourceTypes"></select>
            </div>
            <div class="form-group filter-panel-searchbox">
                <input type="text" placeholder="כמות" class="form-control amount-field" ng-model="$ctrl.dailyResource.amount">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dailyResource.date" is-open="$ctrl.popupsOpen.addDate"
                    ng-change="$ctrl.getAllDailyResources()" datepicker-options="$ctrl.selectedDateOptions" ng-click="$ctrl.openDate('addDate')"
                    close-text="Close" data-datepicker-popup={{$ctrl.format}} />
                <span class="input-group-btn">
                    </span>
            </div>
            <button type="submit" class="btn btn-primary">הוספת משאב</button>
        </form>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addDefault()" ladda="$ctrl.adding" data-style="zoom-out">הוספת בסיס
        </button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addLastDailyResources($ctrl.dailyResource.site._id)">הוספת אחרון
        </button> 
        
    </div>
</div>
<div class="col-xs-12"  ng-show="$ctrl.currentUser.role._id == '57d27d4313d468481b1fe12e'">
    <div class="card date-card">
    <br>
        <h4>תאריך</h4>
       <div class="col-md-4 col-xs-12">
            <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dailyResource.date" is-open="$ctrl.popupsOpen.addDate"
                ng-change="$ctrl.getAllDailyResources()" datepicker-options="$ctrl.selectedDateOptions" ng-click="$ctrl.openDate('addDate')"
                close-text="Close" data-datepicker-popup={{$ctrl.format}} />
            <span class="input-group-btn"></span>
        </div>
    </div>
</div>
<div ng-repeat="currentSite in $ctrl.grouped">
    <div class="horizontal-table col-xs-12">
        <div class="card">
            <h3 ng-bind="currentSite.siteName"></h3>
            <div ng-repeat="item in currentSite.resources" class="cell">
                <div ng-bind="item.resourceType.name" class="header"></div>
                <div class="body">
                    <div class="button-holder">
                        <div ng-click="$ctrl.increaceDailyResource(item)">
                            <i class="glyphicon glyphicon glyphicon-plus"></i>
                        </div>
                        <div ng-click="$ctrl.decreaseDailyResource(item)">
                            <i class="glyphicon glyphicon-minus"></i>
                        </div>
                    </div>
                    <div><input type="text" ng-disabled="!$ctrl.editDisabled[item._id]" ng-model="item.amount"></div>
                    <div class="button-holder" ng-show="!item.sum">
                        <div ng-click="$ctrl.editField(item)" ng-class="{'inverse':$ctrl.editDisabled[item._id]}">
                            <i class="glyphicon glyphicon glyphicon-edit"></i>
                        </div>
                        <div ng-click="$ctrl.deleteDailyResource(item._id)">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sum-row">
                <span>סך הכל:</span><span ng-bind="currentSite.total"></span>
            </div>
            <div class="comment-wrapper">
                <h3>הערות</h3>
                <form class="" name="commentForm" ng-submit="$ctrl.addDailyComment(currentSite.siteId)" novalidate>
                    <input type="hidden"    ng-model="$ctrl.dailyComments[currentSite.siteId].site._id"
                                            value="{{currentSite.siteId}}"
                                            ng-init="$ctrl.dailyComments[currentSite.siteId].site._id=currentSite.siteId"
                    />
                    <div class="form-group filter-panel-searchbox">
                        <textarea   type="text" placeholder="הוספת הערה" class="form-control amount-field"
                                    ng-model="$ctrl.dailyComments[currentSite.siteId].text">
                        </textarea>
                    </div>
                    <div class="divider"></div>
                    <button type="submit" class="btn btn-primary">הוספת הערה</button>
                </form>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped"> 
                        <thead>
                            <tr class="bgcolor">
                                <td>משתמש</td>
                                <td>הערה</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="commentsfont" ng-repeat="comment in currentSite.comments">
                                <td ng-bind="comment.user.name"></td>
                                <td ng-bind="comment.text"></td>
                                <td ng-click="$ctrl.deleteDailyComment(comment._id)">
                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" ng-show="$ctrl.currentUser.role._id == '57d2805f13d468481b1fe130'
                                || $ctrl.currentUser.role._id == '57d2837a13d468481b1fe133'">
    <div class="card">
        <h2>הוספת סוג משאב</h2>
        <form class="form-inline" name="typeForm" ng-submit="$ctrl.addType(typeForm.$valid)" novalidate>
            <label class="sr-only" for="name">Name:</label>
            <input type="text" placeholder="שם" class="form-control" name="name" id="name" ng-model="$ctrl.type.name" required />
            <button type="submit" class="btn btn-primary" data-style="zoom-out" ladda="$ctrl.addingType">הוספת סוג משאב</button>
        </form>
    </div>
</div>