
<div class="col-xs-12">
    <div class="card">
        <h2>משאבי אתר</h2>
        <form class="form-inline" name="resourceForm" ng-submit="$ctrl.addDailyResource(resourceForm.$valid)" novalidate>
                <div class="form-group col-xs-3-">
                    <label class="sr-only" for="site">site:</label>
                    <select class="form-control" name="site" id="site" ng-model="$ctrl.dailyResource.site" ng-change="$ctrl.getAllDailyResources()"
                        ng-options="site as site.name for site in $ctrl.sites"></select>
                </div>
                <div class="form-group col-xs-3-">
                    <label class="sr-only" for="site">site:</label>
                    <select class="form-control" name="site" id="site" ng-model="$ctrl.dailyResource.resourceType" ng-options="resourceType as resourceType.name for resourceType in $ctrl.resourceTypes"></select>
                </div>
                <div class="form-group filter-panel-searchbox">
                    <input type="text" placeholder="כמות" class="form-control amount-field" ng-model="$ctrl.dailyResource.amount">
                </div>
                <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dailyResource.date" is-open="$ctrl.popupsOpen.addDate"
                    ng-change="$ctrl.getAllDailyResources()" datepicker-options="$ctrl.selectedDateOptions" ng-click="$ctrl.openDate('addDate')"
                    close-text="Close" data-datepicker-popup={{$ctrl.format}} />
                <span class="input-group-btn">
                </span>
                <button type="submit" class="btn btn-primary">הוספה</button>
        </form>
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addDefault()" ladda="$ctrl.loading" data-style="zoom-out">הוספת בסיס
            </button>
    </div>
</div>

<div ng-repeat="currentSite in $ctrl.grouped">
    <div class="horizontal-table col-xs-12">
        <div class="card">
            <h3 ng-bind="currentSite[0].site.name"></h3>
            <div ng-repeat="item in currentSite">
                <div ng-bind="item.resourceType.name" class="header"></div>
                <div class="body">
                    <div><input type="text" ng-disabled="!$ctrl.editDisabled[item._id]" ng-model="item.amount"></div>
                    <div class="button-holder">
                        <div ng-click="$ctrl.editField(item)" ng-class="{'inverse':$ctrl.editDisabled[item._id]}">
                            <i class="glyphicon glyphicon glyphicon-edit"></i>
                        </div>
                        <div ng-click="$ctrl.deleteDailyResource(item._id)">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="card">
        <h2>הוספת סוג משאב</h2>
        <form class="form-inline" name="typeForm" ng-submit="$ctrl.addType(typeForm.$valid)" novalidate>
                <label class="sr-only" for="name">Name:</label>
                <input type="text" placeholder="שם" class="form-control" name="name" id="name" ng-model="$ctrl.type.name" required />
            <button type="submit" class="btn btn-primary" data-style="zoom-out" ladda="$ctrl.addingType">הוספה</button>
        </form>
    </div>
</div>